<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All movies</title>
</head>
<body>
    <%- include('../partials/nav.ejs') %>

    <% if (message) { %>
        <p class="success-message"><%= message %></p>
        <% } %>
      <h1><%= movie.title %></h1>
        <h2><%= movie.price  %></h2>
        <h2><%=movie.genre %></h2>
      <h3><%= movie.description %></h3>
      <h2>director<%= movie.director.username %></h2>
      

        <% if (user && movie.director.equals(user._id)) { %>
      <div class="controls">
        <a href="/movies/<%= movie._id %>/edit">Edit</a>
        <form action="/movies/<%= movie._id %>?_method=DELETE" method="POST">
          <button type="submit">Delete</button>
        </form>
      </div>
    <% } %>

    


</body>
</html>